{% extends "upload/layer_upload_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% block title %} {% trans "Create Layer"  %} - {{ block.super }}  {% endblock %}

{% block body_class %}layers create{% endblock %}


{% block head %}

{{ block.super }}
{% endblock %}

{% block body_outer %}
<div class="page-header">
  <a href="{% url "layer_browse" %}" class="btn btn-primary pull-right">{% trans "Explore Layers" %}</a>
  <h2 class="page-title">{% trans "Create Layers" %}</h2>
</div>


<!-- added for create layer functionality -->
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" id="button-methods" type="button" data-toggle="dropdown" style="width: 100%;">Pick Up Method
                  <span class="caret"></span></button>
                      <ul class="dropdown-menu dropdown-menu-methods" style="width: 95%;">
                        <li><a href="#" id="excel_layer"><span class="glyphicon glyphicon-chevron-right"></span> From existing layer</a></li>
                        <li><a href="#" id="empty_layer"><span class="glyphicon glyphicon-chevron-right"></span> Empty layer</a></li>
                      </ul>
              </div>
          </div>
          <div class="panel-body">
              <div id="_panel_container"></div>
              </br>
              <div id="_panel_msg"></div>

              <div class="input-group" id="_layer" style="display:none;">
                  <div class="input-group-btn" >
                      <div class="btn-group btn-group-sm" style="width:100%">
                          <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" id="button-countries" type="button" name="name1" data-toggle="dropdown" data-target="#" style="width:100%">Country
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-countries" id="country_list" name="name1" style="height: auto; max-height: 200px; overflow-x: hidden;">
                                    {% if countries %}
                                        {% for cntr in countries %}
                                              <li><a href="#" id= {{ cntr }}>{{ cntr }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                          </div>
                      </div>
                  </div>
                  </br>
                  <!--
                  <select multiple="multiple" class="has-popover form-control" id="_all_values" data-container="body" data-content="keyword identifies a location Hold down &quot;Control&quot;, or &quot;Command&quot; on a Mac, to select more than one." data-html="true" data-placement="right" name="regions" data-original-title="" title="">
                  </select>
              -->
                  <a href="#" class="btn btn-primary pull-right" id="download_xls">{% trans "Download as CSV" %}</a>
              </div>
          </div>
        </div>


        <form id="file-uploader" method="post" enctype="multipart/form-data" action="{% url "layer_create" %}">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          {% if errormsgs %}
            {% for value in errormsgs %}
                </p>  {{ value }} </p>
            {% endfor %}

          {% endif %}
          {% for error in form.non_field_errors %}
               {{ error }} </br>
          {% endfor %}
        </br>
          {% for field in form.visible_fields %}
                   {{ field|as_bootstrap }} </br>
          {% endfor %}
          <button type="submit" id="upload-button" class="btn btn-danger">Upload</button>
        </form>


        <!--
        <form id="file-uploader" method="post" enctype="multipart/form-data" action="{% url "layer_create" %}">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

          <i>Layer Title:</i> <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" name="title">
          <input class="btn" id="file-input" type="file" name= "csv_load">
          <button type="submit" id="upload-button" class="btn btn-danger">Upload</button>
        </form>
        -->



        <section>
          <!-- <a href="#" id="clear-button" class="btn btn-default">{% trans "Clear" %}</a>
          <a href="#" id="upload-button" class="btn btn-danger">{% trans "Upload files" %}</a> -->
        </section>
    </div>
    {% if GEONODE_SECURITY_ENABLED %}
    <div class="col-md-4">
      <h3>{% trans "Permissions"  %}</h3>
      <form id="permission_form">
        {% include "_permissions.html" %}
      </form>
    </div>
    {% endif %}
</div>

{% endblock %}


{% block extra_script %}


<script data-main="{% static 'geonode/js/upload/main' %}"
  src="{% static 'lib/js/require.js' %}">
  alert("fdf")
</script>
<script type="text/javascript">
{% autoescape off %}

  csrf_token =  "{{ csrf_token }}",
  form_target = "{{ UPLOADER_URL }}",
  geogig_enabled = {{ GEOGIG_ENABLED|lower  }},
  time_enabled = {{ TIME_ENABLED|lower  }},
  userLookup = "{% url "geonode.views.ajax_lookup" %}"

{% endautoescape %}

</script>

<script type="text/javascript">
    $(document).ready(function() {


        $(document.body).on("click", "#download_xls",function(e) {

            selected_country = ($("#button-countries").val())
            //selected_subareas = $('#_all_values').val();
            selected_btn = $(".selected").attr("id");

            //id = "?country=" + selected_country + "&areas=" + selected_subareas + "&btn=" + selected_btn
            id = "?country=" + selected_country + "&btn=" + selected_btn
            whole_url = "{% url 'download_xls' %}" + id
            $("#download_xls").attr("href", whole_url)

            $.ajax({
                type: "GET",
                url: whole_url,
                success: function(data) {
                },
                error: function(data) {
                },
            });
        });


        $(document.body).on("click", ".dropdown-menu-countries li a",function(e) {
            $("#button-countries:first-child").text($(this).text());
            $("#button-countries:first-child").val($(this).text());
        });




        $(".dropdown-menu-methods li a").click(function(){
            $("#button-methods:first-child").text($(this).text());
            $("#button-methods:first-child").val($(this).text());
            selected_val = $(this).attr("id");
            element_id = ["_panel_container", "_panel_msg"];
            clear_content(element_id);
            if (selected_val == "excel_layer"){
                $("#_panel_container").append( '<i> Create layer from: </i></br></br><button type="button" class="btn btn-primary _btn-select" id="country" data-toggle="tooltip" title="a country" style="width:25%">Global Layer</button><button type="button" class="btn btn-success _btn-select" id="region" data-toggle="tooltip" title="for regions" style="width:25%">Country layer by admin1</button><button type="button" class="btn btn-warning _btn-select" id="province" data-toggle="tooltip" title="for provinces" style="width:25%">Country layer by admin2</button><button type="button" class="btn btn-danger _btn-select" id="settlement" data-toggle="tooltip" title="settlements" style="width:25%">By location</button>');

                $( "._btn-select").click(function() {

                    // add class "selected" to clicked button
                    $("button.selected").removeClass("selected");
                    $(this).addClass('selected');

                    clicked_btn = $(this).attr("id");

                    element_id = ["_panel_msg"];
                    clear_content(element_id);
                    if (clicked_btn == "country"){

                        $("#download_xls").clone().appendTo('#_panel_msg');
                        $("#download_xls").css("display", "block");


                    } else if (clicked_btn == "region"){

                        $("#_layer").clone().appendTo('#_panel_msg');
                        $("#_layer").css("display", "block");


                    } else if (clicked_btn == "province"){

                        $("#_layer").clone().appendTo('#_panel_msg');
                        $("#_layer").css("display", "block");

                    } else if (clicked_btn == "settlement"){

                        $("#_panel_msg").append('</br><i> Downloading excel file with settlements..</i></br>');
                    }

                });

            } else if (selected_val == "empty_layer") {
                $("#_panel_container").append( '<i> Another way to create layer: </i>');
            }
        });
    });


    function clear_content(element_id) {
        for (i = 0; i < element_id.length; i++) {
            if ( $("#" + element_id[i]).children().length > 0 ) {
                $("#" + element_id[i]).empty();
            }
        }
    }

</script>

{% if GEONODE_SECURITY_ENABLED %}
{% with resource=layer %}
{% include "_permissions_form_js.html" %}
{% endwith %}
{% endif %}
{% endblock extra_script %}
