*.pyc
*.mo
.cache
wfp.egg-info
docs/_build
docs/_static
docs/_templates
celerybeat-schedule
celeryev.pid
dist
env
env24
supervisord.log
wfp/dev_settings.py
wfp_geonode.egg-info
www
wfp/uploaded
*.sh~
*.py~
*.tmpl~
*.cfg~
*.old
gn_migration.cfg
