<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>GIS Presence Map</title>

<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.0/leaflet-heat.js'></script>
<script src="{{ STATIC_URL }}js/oms.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script>
<link href='{{ STATIC_URL }}css/map.css' rel='stylesheet' />

<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>


<style>
  #map-ui {
    position:absolute;
    top:70px;right:10px;
    z-index:100;
    }
    #map-ui ul {
      list-style:none;
      margin:0;padding:0;
      }
      #map-ui a {
        font-size:13px;
        background:#FFF;
        color:#3C4E5A;
        display:block;
        margin:0;padding:0;
        border:1px solid #BBB;
        border-bottom-width:0;
        min-width:138px;
        padding:10px;
        text-decoration:none;
        }
      #map-ui a:hover { background:#ECF5FA; }
      #map-ui li:last-child a {
        border-bottom-width:1px;
        -webkit-border-radius:0 0 3px 3px;
                border-radius:0 0 3px 3px;
        }
      #map-ui li:first-child a {
        -webkit-border-radius:3px 3px 0 0;
                border-radius:3px 3px 0 0;
              }
      #map-ui a.active {
        background:#3887BE;
        border-color:#3887BE;
        color:#FFF;
        }
        #map-ui li:last-child a.active {
          border-top-color:#FFF;
          }

</style>
<div id="logo"></div>
<div id="header">GIS Presence Map</div>
<div id='map'>
	<div id='map-ui'>
    <ul>
      <li><a href='#' class='active' id='facilitiesLayer'>WFP GIS Presence</a></li>
      <li><a href='#' class='' id='wfp_presence'>WFP Presence By Regional Bureaux</a></li>
      <li><a href='#' class='' id='heat'>Heatmap GIS Presence</a></li>
    </ul>
  </div>
</div>
<script>

var map = L.mapbox.map('map', 'examples.map-i86nkdio', { infoControl:false })
    .setView([5,20], 3).addControl(L.mapbox.geocoderControl('examples.map-i86nkdio'));

map.zoomControl.setPosition('topright');
var OMNIcon = L.icon({
                iconUrl: "{{ STATIC_URL }}images/OMN.png",
                iconSize: [20, 29],
                iconAnchor: [5, 16],
                popupAnchor: [0, -35]
                });
    var OMBIcon = L.icon({
                iconUrl: "{{ STATIC_URL }}images/OMB.png",
                iconSize: [20, 29],
                iconAnchor: [5, 16],
                popupAnchor: [0, -35]
    });
    var OMCIcon = L.icon({
                iconUrl: "{{ STATIC_URL }}images/OMC.png",
                iconSize: [20, 29],
                iconAnchor: [5, 16],
                popupAnchor: [0, -35]
    });
    var OMPIcon = L.icon({
                iconUrl: "{{ STATIC_URL }}images/OMP.png",
                iconSize: [20, 29],
                iconAnchor: [5, 16],
                popupAnchor: [0, -35]
    });
    var OMJIcon = L.icon({
                iconUrl: "{{ STATIC_URL }}images/OMJ.png",
                iconSize: [20, 29],
                iconAnchor: [5, 16],
                popupAnchor: [0, -35]
    });
    var OMDIcon = L.icon({
                iconUrl: "{{ STATIC_URL }}images/OMD.png",
                iconSize: [20, 29],
                iconAnchor: [5, 16],
                popupAnchor: [0, -35]
    });
    var OMSIcon = L.icon({
                iconUrl: "{{ STATIC_URL }}images/OMS.png",
                iconSize: [20, 29],
                iconAnchor: [5, 16],
                popupAnchor: [0, -35]
    });
        
function getIcon(r) {
            switch(r) {
                case "OMB": return OMBIcon;
                case "OMD": return OMDIcon;
                case "OMJ": return OMJIcon;
                case "OMN": return OMNIcon;
                case "OMP": return OMPIcon;
                case "OMC": return OMCIcon;
                default: return OMSIcon;
                }
            }

function addPopup(feature, layer) {
            
        var popup = "<h1 style='color:red;font-family:Impact;font-size:20px;'>" + feature.properties.name+ "</h1> <p style='font-family:Calibri;font-size:14px;'> <b>Location:  </b>" + feature.properties.place + "</p><p style='font-family:Calibri;font-size:14px;'> <b>COUNTRY:  </b>" + feature.properties.country+ "</p><p style='font-family:Calibri;font-size:14px;'><b>RB:  </b>" + feature.properties.wfpregion + "</p><p style='font-family:Calibri;font-size:14px;'> <b>WFP OFFICECOUNTRY:  </b>" + feature.properties.facility + "</p><p style='font-family:Calibri;font-size:14px;'> <b>Position:  </b>" + feature.properties.position+ "</p>";

        layer.bindPopup(popup);
        layer.on('mouseover', function (e) {
            this.openPopup();
        });
        layer.on('mouseout', function (e) {
            this.closePopup();
        });
        }

var oms = new OverlappingMarkerSpiderfier(map, {keepSpiderfied: true, legWeight: 3.0});

var heat = L.heatLayer([], { maxZoom: 5, radius: 25});

    function getEvent(){
      $.getJSON("/gis/api/v1/employee/?format=json&geojson&limit=100&duties_type=0", function(resp) {    
        facilitiesLayer = L.geoJson(resp,{
          pointToLayer: function (feature, latlng) {
                heat.addLatLng(latlng);
                var marker = L.marker(latlng, { icon: getIcon(feature.properties.wfpregion) });
                oms.addMarker(marker);
                return marker;
          },
          onEachFeature: addPopup, 
        }).addTo(map);
      });
    }
    $(document).ready(function() {
              setTimeout('getEvent()',1);
        });

oms.addListener('spiderfy', function(markers) {
  map.closePopup();
});

var wfp_presence = L.tileLayer.wms("http://geonode.wfp.org/geoserver/wms?", {
       layers: 'geonode:wld_bnd_presence_wfp',
       format: 'image/png',
       transparent: "true",
       attribution: "",
       srs: 'EPSG:4326'
});

// Layer switcher
var legendGISPresence = L.control({position: 'bottomright'});
legendGISPresence.onAdd = function (map) {
  var div = L.DomUtil.create('div', 'legend-gis');
      div.innerHTML +=
      '<img src="{{ STATIC_URL }}images/Legend_GIS_Presence.png" alt="legend" width="380" height="260">';
  return div;
  };
legendGISPresence.addTo(map);

var legendWFPPresence = L.control({position: 'bottomleft'});
legendWFPPresence.onAdd = function (map) {
  var div = L.DomUtil.create('div', 'legend-wfp');
      div.innerHTML +=
      '<img src="{{ STATIC_URL }}images/Legend_RB.png" alt="legend" width="380" height="260">';
  return div;
  };

map.getContainer().querySelector('#facilitiesLayer').onclick = function() {
    if (this.className === 'active') {
        map.removeLayer(facilitiesLayer);
        legendGISPresence.removeFrom(map);
        this.className = '';
    } else {
        map.addLayer(facilitiesLayer);
        legendGISPresence.addTo(map);
        this.className = 'active';
    }
    return false;
};

map.getContainer().querySelector('#heat').onclick = function() {
    if (this.className === 'active') {
        map.removeLayer(heat);
        this.className = '';
    } else {
        map.addLayer(heat);
        this.className = 'active';
    }
    return false;
};

map.getContainer().querySelector('#wfp_presence').onclick = function() {
    if (this.className === 'active') {
        map.removeLayer(wfp_presence);
        legendWFPPresence.removeFrom(map);
        this.className = '';
    } else {
        map.addLayer(wfp_presence);
        legendWFPPresence.addTo(map);
        this.className = 'active';
    }
    return false;
};

</script>


</body>
</html>
